Repository rxseven/gyararii: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint:script:fix, yarn lint:styles

.lintstagedrc:

{
  "src/**/*.{js,json,jsx,scss}": ["yarn format", "git add"],
  "src/**/*.{js,jsx}": ["yarn lint:script:fix", "git add"],
  "src/**/*.scss": ["yarn lint:styles", "git add"]
}

Change Jumper’s styles
  src/components/common/base/Jumper/__tests__/__snapshots__/Jumper.test.jsx.snap
  src/components/common/base/Jumper/index.jsx
  src/components/common/modules/Gallery/View/__tests__/__snapshots__/View.test.jsx.snap
  src/components/common/modules/Gallery/__tests__/__snapshots__/Gallery.test.jsx.snap
  src/screens/main/Home/__tests__/__snapshots__/Home.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Disable tooltip on touch device for upload button
  src/components/common/modules/Gallery/View/__tests__/__snapshots__/View.test.jsx.snap
  src/components/common/modules/Gallery/View/index.jsx
  src/components/common/modules/Gallery/__tests__/__snapshots__/Gallery.test.jsx.snap
  src/screens/main/Home/__tests__/__snapshots__/Home.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Add “alignment” story to Grid.Row component
  src/components/common/base/Grid/Row/Row.stories.jsx
Due: yarn format, yarn lint:script:fix

Add “alignment & size” story to Layout component
  src/components/common/composite/Layout/Layout.stories.jsx
Due: yarn format, yarn lint:script:fix

Add Storybook link to Footer component
  src/components/core/document/Footer/__tests__/__snapshots__/Footer.test.jsx.snap
  src/components/core/document/Footer/index.jsx
Due: yarn format, yarn lint:script:fix

Add Storybook link to Menu component
  src/components/core/navigation/Menu/__tests__/__snapshots__/Menu.test.jsx.snap
  src/components/core/navigation/Menu/index.jsx
  src/components/core/sections/Sidebar/__tests__/__snapshots__/Sidebar.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Reset button's default styles
  src/styles/base/_custom.scss
  src/styles/utilities/_override.scss
Due: yarn format, yarn lint:styles

Refactor Menu component with functional Hook
  src/components/core/navigation/Menu/index.jsx
Due: yarn format, yarn lint:script:fix

Update release number to v0.2.0
  package.json
  src/components/core/navigation/Menu/__tests__/__snapshots__/Menu.test.jsx.snap
  src/components/core/navigation/Menu/index.jsx
  src/components/core/sections/Sidebar/__tests__/__snapshots__/Sidebar.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Update README
  README.md
Due: none

Update content on About screen
  src/screens/static/About/index.jsx
Due: yarn format, yarn lint:script:fix

Add missing required “onUpload” prop to File’s tests
  src/components/common/composite/File/__tests__/File.test.jsx
  src/components/common/composite/File/__tests__/__snapshots__/File.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Fix incorrect children type passing to of Body’s tests
  src/components/core/document/Body/__tests__/Body.test.jsx
  src/components/core/document/Body/__tests__/__snapshots__/Body.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Add missing required “icon” prop to Icon’s tests
  src/components/common/base/Icon/__tests__/Icon.test.jsx
  src/components/common/base/Icon/__tests__/__snapshots__/Icon.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Update content in About screen
  src/screens/static/About/index.jsx
Due: yarn format, yarn lint:script:fix

Install react-switch v4.1.0
  package.json
  yarn.lock
Due: none

Create Toggle component
  src/components/common/composite/Toggle/Toggle.stories.jsx
  src/components/common/composite/Toggle/__tests__/Toggle.test.jsx
  src/components/common/composite/Toggle/__tests__/__snapshots__/Toggle.test.jsx.snap
  src/components/common/composite/Toggle/index.jsx
Due: yarn format, yarn lint:script:fix

Add auto-scrolling functionality
  src/components/common/modules/Gallery/View/__tests__/View.test.jsx
  src/components/common/modules/Gallery/View/__tests__/__snapshots__/View.test.jsx.snap
  src/components/common/modules/Gallery/View/index.jsx
  src/components/common/modules/Gallery/__tests__/__snapshots__/Gallery.test.jsx.snap
  src/components/common/modules/Gallery/index.jsx
  src/screens/main/Home/__tests__/__snapshots__/Home.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Uninstall react-switch
  package.json
  yarn.lock
Due: none

Fix Romaji spelling
  .vscode/launch.json
  README.md
  public/manifest.json
  src/components/core/navigation/Menu/__tests__/__snapshots__/Menu.test.jsx.snap
  src/components/core/navigation/Menu/index.jsx
  src/components/core/sections/Sidebar/__tests__/__snapshots__/Sidebar.test.jsx.snap
  src/screens/static/About/index.jsx
  src/screens/static/Terms/index.jsx
Due: yarn format, yarn lint:script:fix

Add global state & event handler for Gallery component
  src/components/core/skeleton/Providers/Global/index.jsx
Due: yarn format, yarn lint:script:fix

Refactor Gallery component by lifting images state up to Global context
  src/components/common/modules/Gallery/index.jsx
Due: yarn format, yarn lint:script:fix

Update release number to v0.3.0
  README.md
  package.json
  src/components/core/navigation/Menu/__tests__/__snapshots__/Menu.test.jsx.snap
  src/components/core/navigation/Menu/index.jsx
  src/components/core/sections/Sidebar/__tests__/__snapshots__/Sidebar.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Reorder variables alphabetically
  src/components/common/modules/Gallery/index.jsx
Due: yarn format, yarn lint:script:fix

Add missing required props to Gallery.View’s stories
  src/components/common/modules/Gallery/View/View.stories.jsx
Due: yarn format, yarn lint:script:fix

Add emoji to README
  README.md
Due: none

Change base API URL for development environment
  .env
Due: none

Change base API URL for production environment
  .env.production
Due: none

Update release number to v0.4.0
  README.md
  package.json
  src/components/core/navigation/Menu/__tests__/__snapshots__/Menu.test.jsx.snap
  src/components/core/navigation/Menu/index.jsx
  src/components/core/sections/Sidebar/__tests__/__snapshots__/Sidebar.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Update contents in About screen
  src/screens/static/About/index.jsx
Due: yarn format, yarn lint:script:fix

Update contents in README
  README.md
Due: none

Fix typo in About screen
  src/screens/static/About/index.jsx
Due: yarn format, yarn lint:script:fix

Fix typo in README
  README.md
Due: none

Refactor Pagination layout & styles
  src/components/common/composite/Pagination/__tests__/Pagination.test.jsx
  src/components/common/composite/Pagination/__tests__/__snapshots__/Pagination.test.jsx.snap
  src/components/common/composite/Pagination/index.jsx
  src/components/common/modules/Gallery/View/__tests__/__snapshots__/View.test.jsx.snap
  src/components/common/modules/Gallery/__tests__/__snapshots__/Gallery.test.jsx.snap
  src/screens/main/Home/__tests__/__snapshots__/Home.test.jsx.snap
Due: yarn format, yarn lint:script:fix

Remove unnecessary snapshot tests from About screen
  src/screens/static/About/__tests__/About.test.jsx
Due: yarn format, yarn lint:script:fix

Refactor Menu layout & styles
  src/components/core/navigation/Menu/__tests__/__snapshots__/Menu.test.jsx.snap
  src/components/core/navigation/Menu/index.jsx
  src/components/core/sections/Sidebar/__tests__/__snapshots__/Sidebar.test.jsx.snap
Due: yarn format, yarn lint:script:fix
