Repository rxseven/gyararii: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint:script:fix, yarn lint:styles

Remove unnecessary export from Router’s story file
  src/components/core/skeleton/Router/Router.stories.jsx
Due: yarn format, yarn lint:script:fix

Configure application Router
  src/components/core/skeleton/App/index.jsx
Due: yarn format, yarn lint:script:fix

Add global stylesheet (SCSS) structure
  src/styles/base/_custom.scss
  src/styles/base/_normalize.scss
  src/styles/base/_settings.scss
  src/styles/index.scss
  src/styles/mixins/_utilities.scss
  src/styles/skeleton/_layout.scss
  src/styles/utilities/_override.scss
  src/styles/vendor/_frameworks.scss
  src/styles/vendor/_plugins.scss
Due: yarn format, yarn lint:styles

Include global styles (SCSS) in the project
  src/index.jsx
Due: yarn format, yarn lint:script:fix

Include global application styles (SCSS) in Storybook
  .storybook/config.js
Due: none

Install bootstrap v4.3.1
  package.json
  yarn.lock
Due: none

Include Bootstrap's pre-compiled Sass in the project
  src/styles/vendor/_frameworks.scss
Due: yarn format, yarn lint:styles

Install @fortawesome/fontawesome-svg-core v1.2.15
  package.json
  yarn.lock
Due: none

Install @fortawesome/react-fontawesome v0.1.4
  package.json
  yarn.lock
Due: none

Install @fortawesome/free-solid-svg-icons v5.7.2
  package.json
  yarn.lock
Due: none

Install @fortawesome/free-regular-svg-icons v5.7.2
  package.json
  yarn.lock
Due: none

Install @fortawesome/free-brands-svg-icons v5.7.2
  package.json
  yarn.lock
Due: none

Create & initialize icon library
  src/libraries/icons.js
Due: yarn format, yarn lint:script:fix

Include icon library in the project
  src/index.jsx
Due: yarn format, yarn lint:script:fix

Add Jest snapshot (JSX) to VSCode's file association list
  .vscode/settings.json
Due: none

Override extended Stylelint shareable rules (Styled Components)
  .stylelintrc.styled.json
Due: none

Add Styled Components’s theme variables
  src/config/theme.js
Due: yarn format, yarn lint:script:fix

Add essential theme properties
  src/config/theme.js
Due: yarn format, yarn lint:script:fix

Update shared Storybook notes
  src/stories/shared/notes.js
Due: yarn format, yarn lint:script:fix

Add Router decorator to Storybook configuration
  .storybook/config.js
Due: none

Add Styled Components’s theme decorator to Storybook configuration
  .storybook/config.js
Due: none

Remove unnecessary Storybook Router decorator
  src/stories/decorators/Router.jsx
Due: yarn format, yarn lint:script:fix

Refactor Router component
  src/components/core/skeleton/Router/Router.stories.jsx
  src/components/core/skeleton/Router/__tests__/Router.test.jsx
  src/components/core/skeleton/Router/index.jsx
Due: yarn format, yarn lint:script:fix

Refactor Routes component’s story (remove inividual Router decorator)
  src/components/core/navigation/Routes/Routes.stories.jsx
Due: yarn format, yarn lint:script:fix

Add base styles for scaffolding app layout & visuals
  public/index.html
  src/styles/base/_custom.scss
  src/styles/base/_normalize.scss
  src/styles/base/_settings.scss
  src/styles/skeleton/_layout.scss
Due: yarn format, yarn lint:styles

Create Theme component
  src/components/core/index.js
  src/components/core/skeleton/Theme/Theme.stories.jsx
  src/components/core/skeleton/Theme/__tests__/Theme.test.jsx
  src/components/core/skeleton/Theme/__tests__/__snapshots__/Theme.test.jsx.snap
  src/components/core/skeleton/Theme/index.jsx
Due: yarn format, yarn lint:script:fix

Create Wrapper component
  src/components/core/index.js
  src/components/core/skeleton/Wrapper/Wrapper.stories.jsx
  src/components/core/skeleton/Wrapper/__tests__/Wrapper.test.jsx
  src/components/core/skeleton/Wrapper/__tests__/__snapshots__/Wrapper.test.jsx.snap
  src/components/core/skeleton/Wrapper/index.jsx
Due: yarn format, yarn lint:script:fix

Create grid Container component
  src/components/common/base/Grid/Container/Container.stories.jsx
  src/components/common/base/Grid/Container/__tests__/Container.test.jsx
  src/components/common/base/Grid/Container/__tests__/__snapshots__/Container.test.jsx.snap
  src/components/common/base/Grid/Container/index.jsx
  src/components/common/base/Grid/index.js
Due: yarn format, yarn lint:script:fix

Create grid Row component
  src/components/common/base/Grid/Row/Row.stories.jsx
  src/components/common/base/Grid/Row/__tests__/Row.test.jsx
  src/components/common/base/Grid/Row/__tests__/__snapshots__/Row.test.jsx.snap
  src/components/common/base/Grid/Row/index.jsx
  src/components/common/base/Grid/index.js
Due: yarn format, yarn lint:script:fix

Create grid Column component
  src/components/common/base/Grid/Column/Column.stories.jsx
  src/components/common/base/Grid/Column/__tests__/Column.test.jsx
  src/components/common/base/Grid/Column/__tests__/__snapshots__/Column.test.jsx.snap
  src/components/common/base/Grid/Column/index.jsx
  src/components/common/base/Grid/index.js
Due: yarn format, yarn lint:script:fix

Create Document component
  src/components/common/base/Page/Document/Document.stories.jsx
  src/components/common/base/Page/Document/__tests__/Document.test.jsx
  src/components/common/base/Page/Document/__tests__/__snapshots__/Document.test.jsx.snap
  src/components/common/base/Page/Document/index.jsx
  src/components/common/base/Page/index.js
Due: yarn format, yarn lint:script:fix

Create Body component
  src/components/common/base/Page/Body/Body.stories.jsx
  src/components/common/base/Page/Body/__tests__/Body.test.jsx
  src/components/common/base/Page/Body/__tests__/__snapshots__/Body.test.jsx.snap
  src/components/common/base/Page/Body/index.jsx
  src/components/common/base/Page/index.js
Due: yarn format, yarn lint:script:fix

Create Head component
  src/components/common/base/Page/Head/Head.stories.jsx
  src/components/common/base/Page/Head/__tests__/Head.test.jsx
  src/components/common/base/Page/Head/__tests__/__snapshots__/Head.test.jsx.snap
  src/components/common/base/Page/Head/index.jsx
  src/components/common/base/Page/index.js
Due: yarn format, yarn lint:script:fix

Create Layout component
  src/components/common/composite/Layout/Layout.stories.jsx
  src/components/common/composite/Layout/__tests__/Layout.test.jsx
  src/components/common/composite/Layout/__tests__/__snapshots__/Layout.test.jsx.snap
  src/components/common/composite/Layout/index.jsx
Due: yarn format, yarn lint:script:fix

Create Body component
  src/components/core/document/Body/Body.stories.jsx
  src/components/core/document/Body/__tests__/Body.test.jsx
  src/components/core/document/Body/__tests__/__snapshots__/Body.test.jsx.snap
  src/components/core/document/Body/index.jsx
  src/components/core/index.js
Due: yarn format, yarn lint:script:fix

Create Header component
  src/components/core/document/Header/Header.stories.jsx
  src/components/core/document/Header/__tests__/Header.test.jsx
  src/components/core/document/Header/index.jsx
  src/components/core/index.js
Due: yarn format, yarn lint:script:fix

Create Footer component
  src/components/core/document/Footer/Footer.stories.jsx
  src/components/core/document/Footer/__tests__/Footer.test.jsx
  src/components/core/document/Footer/index.jsx
  src/components/core/index.js
Due: yarn format, yarn lint:script:fix

Create Main component
  src/components/core/index.js
  src/components/core/sections/Main/Main.stories.jsx
  src/components/core/sections/Main/__tests__/Main.test.jsx
  src/components/core/sections/Main/__tests__/__snapshots__/Main.test.jsx.snap
  src/components/core/sections/Main/index.jsx
Due: yarn format, yarn lint:script:fix

Refactor app structure
  src/components/core/skeleton/App/index.jsx
Due: yarn format, yarn lint:script:fix

Refactor Home screen with page layout structure
  src/screens/main/Home/index.jsx
Due: yarn format, yarn lint:script:fix

Path conditions:
  yarn format: any of: src/**/*.{js,json,jsx,scss}
  yarn lint:script:fix: any of: src/**/*.{js,jsx}
  yarn lint:styles: any of: src/**/*.scss
