Repository rxseven/gyararii: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint:script:fix, yarn lint:styles

Create Modal.Footer component
  src/components/common/base/Modal/Footer/Footer.stories.jsx
  src/components/common/base/Modal/Footer/__tests__/Footer.test.jsx
  src/components/common/base/Modal/Footer/__tests__/__snapshots__/Footer.test.jsx.snap
  src/components/common/base/Modal/Footer/index.jsx
  src/components/common/base/Modal/index.jsx
Due: yarn format, yarn lint:script:fix

Create Confirm component
  src/components/common/composite/Confirm/Confirm.stories.jsx
  src/components/common/composite/Confirm/__tests__/Confirm.test.jsx
  src/components/common/composite/Confirm/index.jsx
Due: yarn format, yarn lint:script:fix

Fix incorrect Card component’s name
  src/components/common/base/Card/index.jsx
Due: yarn format, yarn lint:script:fix

Add Bootstrap styles (global SCSS) to Button component
  src/components/common/base/Button/Button.styles.scss
  src/components/common/base/Button/__tests__/__snapshots__/Button.test.jsx.snap
  src/components/common/base/Button/index.jsx
Due: yarn format, yarn lint:script:fix, yarn lint:styles

Create Alert component
  src/components/common/base/Alert/Alert.stories.jsx
  src/components/common/base/Alert/__tests__/Alert.test.jsx
  src/components/common/base/Alert/__tests__/__snapshots__/Alert.test.jsx.snap
  src/components/common/base/Alert/index.jsx
Due: yarn format, yarn lint:script:fix

Create Error component
  src/components/common/composite/Error/Error.stories.jsx
  src/components/common/composite/Error/__tests__/Error.test.jsx
  src/components/common/composite/Error/__tests__/__snapshots__/Error.test.jsx.snap
  src/components/common/composite/Error/index.jsx
Due: yarn format, yarn lint:script:fix

Install react-toastify v4.5.2
  package.json
  yarn.lock
Due: none

Create Notification component
  src/components/core/index.js
  src/components/core/ui/Notification/Notification.stories.jsx
  src/components/core/ui/Notification/Notification.styles.scss
  src/components/core/ui/Notification/__tests__/Notification.test.jsx
  src/components/core/ui/Notification/__tests__/__snapshots__/Notification.test.jsx.snap
  src/components/core/ui/Notification/index.jsx
Due: yarn format, yarn lint:script:fix, yarn lint:styles

Create toast helper function
  src/helpers/__tests__/toast.test.js
  src/helpers/toast.js
Due: yarn format, yarn lint:script:fix

Install react-tooltip v3.9.2
  package.json
  yarn.lock
Due: none

Create Tooltip component
  src/components/core/index.js
  src/components/core/skeleton/App/index.jsx
  src/components/core/ui/Tooltip/Tooltip.stories.jsx
  src/components/core/ui/Tooltip/__tests__/Tooltip.test.jsx
  src/components/core/ui/Tooltip/__tests__/__snapshots__/Tooltip.test.jsx.snap
  src/components/core/ui/Tooltip/index.jsx
Due: yarn format, yarn lint:script:fix

Add (missing) Notification component to the app entry point
  src/components/core/skeleton/App/index.jsx
Due: yarn format, yarn lint:script:fix

Install react-images v0.5.19
  package.json
  yarn.lock
Due: none

Refactor props name & add additional props to Button component
  src/components/common/base/Button/Button.stories.jsx
  src/components/common/base/Button/index.jsx
Due: yarn format, yarn lint:script:fix

Delete Modal component’s snapshot file
  src/components/common/base/Modal/__tests__/__snapshots__/Modal.test.jsx.snap
Due: none

Refactor Modal.Header with functional component
  src/components/common/base/Modal/Header/__tests__/__snapshots__/Header.test.jsx.snap
  src/components/common/base/Modal/Header/index.jsx
Due: yarn format, yarn lint:script:fix

Refactor props name in File component
  src/components/common/composite/File/File.stories.jsx
  src/components/common/composite/File/index.jsx
Due: yarn format, yarn lint:script:fix

Refactor props name in Confirm component
  src/components/common/composite/Confirm/Confirm.stories.jsx
  src/components/common/composite/Confirm/__tests__/Confirm.test.jsx
  src/components/common/composite/Confirm/index.jsx
Due: yarn format, yarn lint:script:fix

Create Pagination component
  src/components/common/composite/Pagination/Pagination.stories.jsx
  src/components/common/composite/Pagination/__tests__/Pagination.test.jsx
  src/components/common/composite/Pagination/__tests__/__snapshots__/Pagination.test.jsx.snap
  src/components/common/composite/Pagination/index.jsx
Due: yarn format, yarn lint:script:fix

Create Control component
  src/components/common/sections/Control/Control.stories.jsx
  src/components/common/sections/Control/__tests__/Control.test.jsx
  src/components/common/sections/Control/__tests__/__snapshots__/Control.test.jsx.snap
  src/components/common/sections/Control/index.jsx
Due: yarn format, yarn lint:script:fix

Create Toolbar component
  src/components/common/sections/Toolbar/Toolbar.stories.jsx
  src/components/common/sections/Toolbar/__tests__/Toolbar.test.jsx
  src/components/common/sections/Toolbar/__tests__/__snapshots__/Toolbar.test.jsx.snap
  src/components/common/sections/Toolbar/index.jsx
Due: yarn format, yarn lint:script:fix

Create Lightbox component
  src/components/common/base/Lightbox/Lightbox.stories.jsx
  src/components/common/base/Lightbox/__tests__/Lightbox.test.jsx
  src/components/common/base/Lightbox/__tests__/__snapshots__/Lightbox.test.jsx.snap
  src/components/common/base/Lightbox/index.jsx
Due: yarn format, yarn lint:script:fix

Fix incorrect Lightbox’s prop-types
  src/components/common/base/Lightbox/index.jsx
Due: yarn format, yarn lint:script:fix

Refactor props name in File component
  src/components/common/composite/File/__tests__/__snapshots__/File.test.jsx.snap
  src/components/common/composite/File/index.jsx
Due: yarn format, yarn lint:script:fix

Refactor Fire’s stories & add missing required props
  src/components/common/composite/File/File.stories.jsx
Due: yarn format, yarn lint:script:fix

Create Card.Image component
  src/components/common/base/Card/Image/Image.stories.jsx
  src/components/common/base/Card/Image/__tests__/Image.test.jsx
  src/components/common/base/Card/Image/__tests__/__snapshots__/Image.test.jsx.snap
  src/components/common/base/Card/Image/index.jsx
  src/components/common/base/Card/index.jsx
Due: yarn format, yarn lint:script:fix

Create Masonry.Item component
  src/components/common/sections/Masonry/Item/Item.stories.jsx
  src/components/common/sections/Masonry/Item/__tests__/Item.test.jsx
  src/components/common/sections/Masonry/Item/__tests__/__snapshots__/Item.test.jsx.snap
  src/components/common/sections/Masonry/Item/index.jsx
Due: yarn format, yarn lint:script:fix

Create Masonry component
  src/components/common/sections/Masonry/Masonry.stories.jsx
  src/components/common/sections/Masonry/__tests__/Masonry.test.jsx
  src/components/common/sections/Masonry/__tests__/__snapshots__/Masonry.test.jsx.snap
  src/components/common/sections/Masonry/index.jsx
Due: yarn format, yarn lint:script:fix

Create Nav.Link component
  src/components/common/base/Nav/Link/Link.stories.jsx
  src/components/common/base/Nav/Link/__tests__/Link.test.jsx
  src/components/common/base/Nav/Link/__tests__/__snapshots__/Link.test.jsx.snap
  src/components/common/base/Nav/Link/index.jsx
  src/components/common/base/Nav/index.js
Due: yarn format, yarn lint:script:fix

Create GitHub component
  src/components/common/composite/GitHub/GitHub.stories.jsx
  src/components/common/composite/GitHub/__tests__/GitHub.test.jsx
  src/components/common/composite/GitHub/__tests__/__snapshots__/GitHub.test.jsx.snap
  src/components/common/composite/GitHub/index.jsx
Due: yarn format, yarn lint:script:fix

Add helper function for composing plural word
  src/helpers/__tests__/string.test.js
  src/helpers/string.js
Due: yarn format, yarn lint:script:fix

Add helper function for checking truthiness
  src/helpers/__tests__/boolean.test.js
  src/helpers/boolean.js
Due: yarn format, yarn lint:script:fix

Define base API URL for development environment
  .env
Due: none

Define base API URL for production environment
  .env.production
Due: none

Create Sidebar component with placeholder content
  src/components/core/index.js
  src/components/core/sections/Sidebar/Sidebar.stories.jsx
  src/components/core/sections/Sidebar/__tests__/Sidebar.test.jsx
  src/components/core/sections/Sidebar/__tests__/__snapshots__/Sidebar.test.jsx.snap
  src/components/core/sections/Sidebar/index.jsx
Due: yarn format, yarn lint:script:fix

Create Menu component
  src/components/core/navigation/Menu/Menu.stories.jsx
  src/components/core/navigation/Menu/__tests__/Menu.test.jsx
  src/components/core/navigation/Menu/__tests__/__snapshots__/Menu.test.jsx.snap
  src/components/core/navigation/Menu/index.jsx
Due: yarn format, yarn lint:script:fix

Add global state & event handlers for Menu component
  src/components/core/skeleton/Providers/Global/index.jsx
Due: yarn format, yarn lint:script:fix

Add global state & event handlers for Modal component
  src/components/core/skeleton/Providers/Global/index.jsx
Due: yarn format, yarn lint:script:fix

Refactor Header components
  src/components/core/document/Header/__tests__/Header.test.jsx
  src/components/core/document/Header/__tests__/__snapshots__/Header.test.jsx.snap
  src/components/core/document/Header/index.jsx
Due: yarn format, yarn lint:script:fix

Update margin-top value in Main component
  src/components/core/sections/Main/__tests__/__snapshots__/Main.test.jsx.snap
  src/components/core/sections/Main/index.jsx
Due: yarn format, yarn lint:script:fix

Path conditions:
  yarn format: any of: src/**/*.{js,json,jsx,scss}
  yarn lint:script:fix: any of: src/**/*.{js,jsx}
  yarn lint:styles: any of: src/**/*.scss
